/* Question One */
.clear {clear: both;}
.parent {
    width: 1000px;
    background-color: #EEEEEE;
}
.parent div {
    text-transform: capitalize;
    text-align: center;
    background-color: #DDDDDD;
    margin-left: 15px;
    margin-top: 15px ;

}
.full {width: calc(100% - 30px);  float: left;}
.third {width: calc((100% - 60px) / 3);  float: left;}
.half {width: calc((100% - 45px) / 2);  float: left;}
.quarter {width: calc((100% - 75px) / 4);  float: left; margin-bottom: 15px;}


/* Question 2 */
.q2 div {
        margin: 20px auto;
        width: 300px;
        font-weight: bold;
        font-size: 1rem;
        padding: 20px;
        background-color: #B3B3B3; /* Get The Background From Image */
        color: black;
}
.q2 .one {background-color: #b3b3b317;}
.q2 .two {opacity: .1;}


